extends ../layout

block content
    h1
        | Create event form

    form(action="/events/create", method="post")
        div
            div
                label Title
                input(type="text", class="form-control", name="title", id="title")
            div
                label Date
                input(type="date", class="form-control", name="date", id="date")
            div
                label Time
                input(type="time", class="form-control", value="12:00:00", name="time", id="time")
            div
                label Place
                input(type="text", class="form-control", name="place", id="place")
            div
                label Description
                input(type="textarea", class="form-control", name="details", id="details")
            div
                label Choose category
                select(multiple, class="form-control", name="categories")
                    each cat in categories
                        option #{cat.name}
            div
                input(type="submit", class="btn btn-success", value="Create event")
                    


