div(class="upcoming-events row text-center group")
    if events
        each event in events
            div(class="col col-md-3 col-sm-6 hero-feature")
                div(class="thumbnail")
                    a(href="/events/" + event.title)
                        img(src=event.photo alt="")
                    div(class="caption")
                        h3=event.title
                        p#event-date
                            span.glyphicon.glyphicon-calendar
                            | #{event.date}
                        p#event-place
                            span.glyphicon.glyphicon-map-marker
                            | #{event.place}
                        p
                            a(href="/events/" + event.title, class="more btn btn-primary") More
    else
        h3
            | No events were found