extends ../layout

block content
    h1
        | Pick a date to see events
    div#datepicker
    button(id='show-events-btn' type="button", class="btn btn-success btn-lg btn-block") Show events for date