extends ./layout

block content
    div.upcoming
        h1
            | See upcoming events

        include partials/upcoming-events
    
    div
        a(href='/events')
            button(id='show-all-btn' type="button", class="btn btn-warning btn-lg btn-block") Show all events
