doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Events Box
    //- link(rel='shortcut icon', href='/favicon.png')
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/css/chat.css')
    link(rel='stylesheet', href='/css/details.css')
    link(rel='stylesheet', href='/css/login.css')
    link(rel='stylesheet', href='/css/signup.css')
    link(rel='stylesheet', href='/css/events.css')                            
    link(href="https://fonts.googleapis.com/css?family=Amaranth", rel="stylesheet")

  body
    include header

    .container
      block content

    include footer

    script(src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js')
    script(src='/libs/bootstrap/dist/js/bootstrap.js')
    script(src='/js/requester.js')    
    script(src='/js/main.js')
    script(src='/js/search.js')
    
    
