extends ./layout

block content
    h1
        | Login

    form(action="/login", method="post")
        div
            div
                label Username
                input(type="text", name="username", id="username")
            div
                label Password
                input(type="password", name="password", id="password")
            div
                input(class="btn btn-success", type="submit", value="Submit")