extends ./layout

block content
    .container
        .col-md-3
        .col-md-6
            .row.myborder
                h4(style='color: #7EB59E; margin: initial; margin-bottom: 10px;') Sign Up Now
                hr
                form(name="signUp" action="/signup", method="POST", onsubmit="return validateUserForm()")
                    .input-group.margin-bottom-20
                        span.input-group-addon
                            i.glyphicon.glyphicon-user.mycolor
                        input.form-control.signup-control(size='60', maxlength='255', placeholder='Username', type="text", name="username", value=(undefined===context ? '' : context.username), id="username")
                    .input-group.margin-bottom-20
                        span.input-group-addon
                            i.glyphicon.glyphicon-lock.mycolor
                        input.form-control.signup-control(size='60', maxlength='255', placeholder='Password', type="password", name="password", value=(undefined===context ? '' : context.password), id="password")
                    .input-group.margin-bottom-20
                        span.input-group-addon
                            i.glyphicon.glyphicon-lock.mycolor
                        input.form-control.signup-control(size='60', maxlength='255', placeholder='Confirm password',type="password", name="passwordConfirm", value=(undefined===context ? '' : context.passwordConfirm), id="password-confirm")
                    .input-group.margin-bottom-20
                        span.input-group-addon
                            i.glyphicon.glyphicon-user.mycolor
                        input.form-control.signup-control(size='60', maxlength='255', placeholder='First Name', type="text", name="firstName", value=(undefined===context ? '' : context.firstName), id="firstname")
                    .input-group.margin-bottom-20
                        span.input-group-addon
                            i.glyphicon.glyphicon-user.mycolor
                        input.form-control.signup-control(size='60', maxlength='255', placeholder='Last Name', type="text", name="lastName", value=(undefined===context ? '' : context.lastName), id="lastname")
                    .input-group.margin-bottom-20
                        span.input-group-addon
                            i.glyphicon.glyphicon-envelope.mycolor
                        input.form-control.signup-control(size='60', maxlength='255', placeholder='Email', type="email", name="email", value=(undefined===context ? 'example@mail.com' : context.email), id="email")
                    .input-group.margin-bottom-20
                        span.input-group-addon
                            i.glyphicon.glyphicon-user.mycolor
                        input.form-control.signup-control(size='60', maxlength='255', placeholder='Age', type="number", name="age", value=(undefined===context ? '' : context.age), id="age")
                    .row
                        .col-md-12
                            button.btn-u.pull-left(type='submit') Sign Up
                    div#validation-errors
                    include errors/all