extends ./layout

block content
    h1
        | Signup

    form(action="/signup", method="POST")
        div
            div
                label Username
                input(class="form-control", type="text", name="username", value=(undefined===context ? '' : context.username), id="username")
            div
                label Password
                input(class="form-control", type="password", name="password", value=(undefined===context ? '' : context.password), id="password")
            div
                label Confirm password
                input(class="form-control", type="password", name="passwordConfirm", value=(undefined===context ? '' : context.passwordConfirm), id="password-confirm")
            div 
                label First name
                input(class="form-control", type="text", name="firstName", value=(undefined===context ? '' : context.firstName), id="firstname")
            div
                label Last name
                input(class="form-control", type="text", name="lastName", value=(undefined===context ? '' : context.lastName), id="lastname")         
            div
                label Email
                input(class="form-control", type="email", name="email", value=(undefined===context ? 'example@mail.com' : context.email), id="email")
            div    
                label Age
                input(class="form-control", type="number", name="age", value=(undefined===context ? '' : context.age), id="age")
            div
                input(class="btn btn-success", type="submit", value="Sign up")

    if errors
        div.alert.alert-danger
            each error in errors
                p=error.msg