.ui-datepicker-inline.ui-datepicker {
    border-radius: 20px;
    font-family: 'Amaranth', sans-serif;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 15px 15px 15px;
}

.ui-widget-header {
    background: white;
    border: none;
}

a.ui-state-default {
    height: 64px;
    border-radius: 20px;
}

.ui-datepicker-title {
    font-size: 2em;
}

.ui-datepicker table {
    font-size: 1.5em;
}

#show-events-btn {
    margin: 10px;
}