 body {
	background-image: url('/images/congruent_pentagon.png') !important;
	font-family: 'Amaranth', sans-serif !important;
}
.user-avatar {
	height: 30px;
	margin-top: 20%;
}

nav {
	background-color: #f3fce8 !important;
	opacity: 0.9;
}

.upcoming-events {
	background-color: rgba(243, 252, 232, 0.7);
	border-radius: 20px;
	padding: 40px;
	margin-top: 40px;
}

.container h1 {
	color: white;
	text-shadow: 0 0 5px black;
}

a.more {
	background-color: #b1f6cb;
	border-color: #b1f6cb;
	color: #12b1b7;
	width: 100%;
}

div.thumbnail {
	padding: 20px !important;
	border-radius: 10px;
	/* height: 400px;; */
}

.caption > h3 {
	font-size: 2em;
}

#event-date, #event-place {
	text-align: left;
	font-size: 1.5em;
}

.category-btn {
	color: #bfbfbf !important;
	font-size: 2em !important;
	text-shadow: 0 0 6px white;
	background-color: white !important;
	box-shadow: 5px 5px #bfbfbf;
	border: 2px solid white !important;
}

.category-option {
	margin-bottom: 25px;
}

.all-categories {
	margin-top: 50px;
}

.create-event-form {
	margin-top: 40px;
	background-color: white;
	padding: 20px;
	border-radius: 10px;	
}

.create-event-form .btn {
	background-color: #b1f6cb;
	border-color: #b1f6cb;
	color: #12b1b7;
	margin-top: 10px;
}

.change-avatar {
	margin: 10px 10px 10px 0;
}