extends ../layout

block content
    h1
        | Search: 
        if title
            span #{title}
        .input-group
          input#pattern.form-control.input-lg(type='text', placeholder='Search', name='pattern')
          #search-btn.input-group-btn
            button.btn.btn-default.btn-lg
              i.glyphicon.glyphicon-search
        div#searchOptions
            label(class="radio-inline", for="events-option") Events
            input(id="events-option", type="radio", name="searchOption", value="events" checked="checked")
            label(class="radio-inline", for="users-option") Users
            input(id="users-option", type="radio", name="searchOption", value="users")

    div.search-results
        if users
            div
                include ../partials/users
        if events
            div
                include ../partials/events
        else
            h3
                | No events were found
    