extends ../layout

block content
    h1
        | Search
    form.navbar-form(role='search', action="/api/events/search")
        .input-group
          input#pattern.form-control(type='text', placeholder='Search', name='pattern')
          #search-btn.input-group-btn
            button.btn.btn-default(type='submit')
              i.glyphicon.glyphicon-search
        div
            label(class="radio-inline") Users
            input(type="radio", name="searchOption", value="users")
            label(class="radio-inline") Events
            input(type="radio", name="searchOption", value="events")
            label(class="radio-inline") Cities
            input(type="radio", name="searchOption", value="cities")