extends ../layout

block content
    form#uploadForm(enctype='multipart/form-data', method='post')
        input(type='file', name='userFile', value='Choose photo')
        input(type='submit', value='Upload File', name='submit')